.card-container {
    background-color: #A0E7E5;
    opacity: 75%;
    text-align: center;
    list-style: none;
    width: 300px;
    border-radius: 2em;
}

.card-description {
    display: flex;
    
    justify-content: center;
}

.btn {
    margin: 5px;
    border-radius: 10em;
    padding: 0.5rem;
    border: none;
    margin-bottom: 1rem;
}

.btn:hover {
    color: aliceblue;
    background-color: chartreuse;
}
.card-info {
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
    height: 6.2rem;
}

.convert {
    margin: 1em;
    border-radius: 1em;
    border: none;
    color: azure;
    background-color: black;
    cursor: pointer;
}

.convert:hover {
    color: black;
    background-color: gray;
}
